@import '~office-ui-fabric-react/dist/sass/References.scss';
@import './variables.scss';

.edit-section {
    padding: 0px 40px;
   .edit-section_section-name{
     width: 75%;
     display: flex;
     margin: 0 auto;
     flex-direction: column;
     justify-content: space-between;
     input:first-child{
       color: #999;
       user-select: none;
     }
   }
   .edit-section_btn{
    display: flex;
    justify-content: end;
    padding: 25px 0 20px;
   }
}
